version: "3.9"
services:
  postgres:
    image: "postgres:15.1-alpine3.17"
    container_name: rest-api-starter-database
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rest-api-starter
      POSTGRES_USER: rest-api-starter
      POSTGRES_PASSWORD: ujt9ack5gbn_TGD4mje

  rest-api:
    build:
      context: ./
      target: development
    command: npm run start:dev
    volumes:
      - /usr/src/app/node_modules/
    ports:
      - "9229:9229"
    environment:
      NODE_ENV: development
      DATABASE_URL: "PROVIDER://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
      TOKEN_SECRET: ERN7kna-hqa2xdu4bva
      EXPIRES_IN: 3600
    links:
      - postgres
